body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('background.jpg');
  background-size: cover;
  background-color: #eef2f5;
  color: #444751;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

footer {
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 70px;
  border-top: 1px solid #eee;
}

footer .container {
  width: 80%;
  margin: auto;
  margin-top: 10px;
  padding: 10px 0px;
  justify-content: flex-end;
  border-top: 0.5px solid #ddd;
  display: flex;
}

footer .container img {
  height: 25px;
}

footer .container ul {
  padding: 0px;
  margin: 0px;
  margin-right: 20px;
  font-size: 14px;
}

footer .container li {
  display: inline-block;
  margin: 0px 20px;
  font-family: 'Avenir', sans-serif;
  padding: 5px 0px;
}

footer .container li:hover {
  cursor: pointer;
  color: #1e93e7;
}

@media only screen and (max-width: 600px) {
  body {
    background-image: url('background-small.jpg');
    background-size: cover;
  }

}
